*{
margin: 0px;
padding : 0px;
box-sizzing: border-box;
}

body{
font-size: 20px;
font-family: 'Flamenco', cursive;
overflow-x: hidden;
}

header{

background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('../images/Cake.jpg');
background-color:green;
/*opacity: 0.5;*/
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

.clearfix:after{
content: ".";
visibility: hidden;
display: block;
height: 0px;
clear: both;
}

.row{
max-width: 1180px;
margin: 0 auto;
}

/*
.logo{
height: 120px;
width: auto;
float: left;
margin-top: 20px;

}
*/

.logo {
    background-image: url('../images/cupcake1.png');
    background-size: 100%;
    height: 120px;
    float: left;
    width: 100px;
    margin-top: 20px;
    transition: width 2s;
}

.logo:hover{
    background-image: url(../images/cupcake.png);
    background-size: 100%;
    height: 120px;
    float: left;
    width: 100px;
    margin-top: 20px;
    
    }



.main-nav{
    float: right;
    margin-top: 60px;
}


.main-nav li{
display: inline-block;
list-style: none;
margin-left: 40px;
}


.main-nav li a{
padding: 5px 0px;
color: aliceblue;
text-decoration: none;
text-transform: uppercase;
font-size: 90%;
font-weight: 100;
/*
background-color: black;
border-radius: 2px 2px 2px 2px;
*/

}


.main-nav li a:hover{
/*
 border: 3px solid blue;
border-radius: 10px 10px 10px 10px;
*/
    
background-color: black;
font-weight: bold;
}

.main-content-header{
width: 1180px;
position: absolute;
top: 65%;
left:50%;
transform: translate(-50%, -50%);
    
}

h1 {
color: #fff;
font-size: 240%;  
letter-spacing: 3px;
word-spacing: 5px;
text-transform: uppercase;
margin-bottom: 20px;
font-weight: bold;
}


.btn {
display: inline-block;
padding : 10px 30px;
text-decoration: none;
text-transform: uppercase;
font-weight: lighter;
border-radius: 200px;
transition: background-color 0.2s, border 0.2s,
}

.btn-full{
background-color: transparent;
color : #bf55ec;
margin-right :15px;
border: 1px solid #bf55ec;
}

.btn-full:hover{
 background-color: white;
color: black;
}

.btn-nav{
background-color: transparent;
color : #fff;
margin-right :15px;
border: 1px solid #fff;

}

.btn-nav:hover{
 background-color: #bf55ec;   
}

.colorchange{
 animation: colorchangethapa 3s infinite;
    
}

@keyframes colorchangethapa{
    0%{color: red; }
    25%{color: purple; }
    50%{color: white; }
    100%{color: yellow; }
}

.mobile-icon{
    display: none;
    
    }


//////////////////// Responsive

@media only screen and (max-width : 1180px){
    .main-content-header{
        width : 100%;
        padding : 0 2%;
     }
}


@media only screen and (max-width : 998px){
    h1{font-size: 200%; }
    
    .main-content-header{
        width : 100%;
        padding : 0 2%;
        text-align: center;
     }
    
    .logo {
  width: 100px;
  height: 120px;
  position: relative;
  animation: mymove 5s ;
  animation-fill-mode: forwards;
  
}

@keyframes mymove {
  from {margin-top: 20px;}
  to {margin-top: 80px;}
}
        
}


header{
 max-height: 100%;   
}


@media only screen and (max-width : 768px){
    h1{font-size: 180%}
    
    .main-content-header{
        width : 100%;
        padding : 0 2%;
        text-align: center;
     }
    .main-nav{
    display: none;
    }
    .mobile-icon{
    display: inline-block;
    color: #fff;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    
    }
    
    .main-nav{
    float: left;
    }
    
    .main-nav li{
    
    display: block;
    margin-top: 10px;
    }
    
        .logo {
  width: 100px;
  height: 120px;
  position: relative;
  animation: mymove 5s ;
    animation-fill-mode: forwards;
}

@keyframes mymove {
  from {margin-top: 20px;}
  to {margin-top: 80px;}
}
  
}

@media only screen and (max-width : 480px){
 
    
    h1{font-size: 100%;}
    .btn-full{
     margin-bottom : 20px;
    
    }
}